:root {
  --font-primary: "Raleway", sans-serif;
  --color-gray: rgb(187, 187, 187);
  --color-gray-light: rgb(212, 212, 212);
  --color-gray-dark: rgb(155, 155, 155);
  --color-gray-trans: rgba(187, 187, 187, 0.575);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-gray-light);
}

::-webkit-scrollbar {
  background-color: rgba(231, 231, 231, 0.404);
  width: 0.5rem;
}

.students__container {
  border-radius: 10px;
  width: 50vw;
  height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.37);
  background-color: white;
}

.students {
  border-bottom: 1px solid var(--color-gray-trans);
  display: flex;
}

.image__container {
  padding: 1rem;
  margin-right: 2rem;
}
.students__image {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 1px solid var(--color-gray);
}

.text__container {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text__container > h3 {
  font-family: var(--font-primary);
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 700;
}

.text__container > p {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: 200;
  margin-left: 2rem;
}

.search__input {
  padding: 1.5rem 1rem 1rem 1rem;
  width: 92%;
  margin: 0 auto;
  font-family: var(--font-primary);
  font-size: 1.7rem;
  border: none;
  border-bottom: 1px solid var(--color-gray-trans);
}

.search__input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.grades__list {
  margin-top: 2rem;
  margin-left: 2rem;
}

.grades__list > li {
  list-style: none;
  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: 200;
}

.grades__span {
  margin-left: 3rem;
}

.plus-minus {
  float: right;
  color: var(--color-gray);
  user-select: none;
}

.plus-minus:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

.tag__input {
  border: none;
  border-bottom: 1px solid var(--color-gray-light);
  width: 27%;
  padding: 0.5rem;
  font-family: var(--font-primary);
  font-size: 1.5rem;
  margin-left: 2rem;
}

.tag__input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.tag__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 2rem;
}

.tag__span {
  font-family: var(--font-primary);
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  border: 1px solid var(--color-gray-light);
  padding: 0.5rem;
  border-radius: 3px;
  background-color: var(--color-gray-light);
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50vw;
  margin-top: 1rem;
}

.input {
  display: block;
  width: 25vw;
  padding: 0.6rem;
  margin: 0.8rem;
  border: transparent;
  font-family: var(--font-primary);
}

.input:focus {
  outline: none;
  border-bottom: 2px solid rgb(44, 83, 167);
}

.form__title {
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-size: 2rem;
}

.btn {
  width: 5vw;
  border: transparent;
  border-radius: 25px;
  padding: 0.8rem;
  margin-bottom: 1rem;
  font-family: var(--font-primary);
  text-transform: uppercase;
  background-color: rgb(44, 83, 167);
  color: white;
  transition: all 300ms;
}

.btn:hover {
  cursor: pointer;
  transform: translateY(-3px);
  background-color: rgb(59, 99, 187);
  box-shadow: rgba(0, 0, 0, 0.199) 0px 5px 15px;
}
